#hero {
  margin-top: min(12rem, 10vw);
}

.hero__wrapper {
  position: relative;
  display: grid;
  place-items: center;
  height: min-content;
}

.hero--left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__intro {
  display: grid;
  place-items: center;
}

.hero__intro .intro__title {
  grid-area: 1/ 1/ 2/ 2;
  font-size: clamp(1.5rem, 10vmin, 8rem);
  z-index: 1;
  background-image: linear-gradient(
    45deg,
    var(--dark-color) 16.66%,
    #473295 16.66%,
    #473295 33.33%,
    var(--primary-color) 33.33%,
    var(--primary-color) 50%,
    #98c1a1 50%,
    #98c1a1 66.66%,
    #fad586 66.66%,
    #fad586 83.33%,
    #fac247 83.33%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: hover-animation-rev 0.75s ease forwards;
}

.hero__intro .intro__title:hover {
  animation: hover-animation 0.5s ease-in forwards;
}

@keyframes hover-animation {
  0% {
    background-size: 850%;
  }
  80% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes hover-animation-rev {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 850%;
  }
}
@keyframes anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero__intro .intro__icon {
  grid-area: 1/ 1/ 2/ 2;
  height: clamp(5rem, 15vmin, 10rem);
}

.hero__intro .intro__icon {
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0.9;
}
.hero__plane {
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.hero__plane .hero__plane__elem1, .hero__plane .hero__plane__elem2 {
  width: 3rem;
  height: 3rem;
  background-color: #c74f3c;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  -webkit-animation: anim 2s ease-in-out infinite;
          animation: anim 2s ease-in-out infinite;
}
.hero__plane .hero__plane__elem3 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #79d0a3;
  border-radius: 50%;
  color: white;
  z-index: 2;
  left: 1.5rem;
  overflow: hidden;
  position: absolute;
}
.hero__plane .hero__plane__elem3 i {
  transform: rotateY(180deg) rotate(10deg);
  color: #332392;
  font-size: 4rem;
}
.hero__plane .hero__plane__elem3 .hero__plane__elem2 {
  background-color: #f1c12d;
  z-index: 10;
  left: -1rem;
  -webkit-animation: anim 2s 1s ease-in-out infinite;
          animation: anim 2s 1s ease-in-out infinite;
}
.hero__description {
  color: var(--secondary-color);
}

.hero__button:hover .demo__container {
  transform: scaleY(1);
}
.hero__button .demo__container {
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: black;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.hero__button .demo__container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 1rem;
  border: 0.3rem solid var(--primary-color);
  background-color: white;
  padding: 1rem 2rem 0 0;
  border-radius: 1rem;
  width: 38rem;
  z-index: 2;
  box-shadow: inset 0rem 0rem 5rem -2rem var(--primary-color);
}
.hero__button .demo__container ul li {
  padding: 0.5rem 2rem 0.5rem 1rem;
  font-size: 1.7rem;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 4;
}
.hero__button .demo__container ul li::before {
  content: "";
  display: table;
  clear: both;
  width: 0rem;
  border-bottom: 0.2rem solid black;
  transition: all 0.3s ease-in;
}
.hero__button .demo__container ul li:hover {
  transform: translateX(1%);
  font-weight: 600;
}
.hero__button .demo__container ul li:hover:before {
  width: 3rem;
}
.hero__demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4.5rem;
}
.hero__demo:hover .demo__description::before {
  width: 3rem;
}
.hero__demo .demo__btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: clamp(0.5rem, 3vmin, 1.5rem);
}

.hero__demo .demo__description {
  position: relative;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -3rem;
}

.hero__demo .demo__description::before {
  content: "";
  display: table;
  clear: both;
  width: 0;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  transition: width .3s ease-in;
}

.hero--right {
  display: none;
}

.hero__img {
  width: clamp(50rem, 100%, 100rem);
}

@media screen and (min-width: 688px) {
  .hero__demo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4.5rem;
  }
}

@media screen and (min-width: 992px) {
  .hero__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .hero--right {
    display: block;
  }
}
