#mobile-app {
  overflow-x: hidden;
}

.mobile__wrapper {
  background-color: #f4f4ff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10rem 0;
  margin-bottom: 0;
}

.live__phone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 0.5em;
  padding: 1rem 0.5rem;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  background-image: url("../assets/mobile/mobileBackGround.avif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: local;
}
.live__phone div {
  background-color: rgba(255, 255, 255, 0.2156862745);
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
  width: max(15rem, 24%);
  height: 10rem;
  border-radius: 1rem;
}
.live__phone div:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.live__phone div:hover i {
  color: black;
  transform: scale(1.15);
}
.live__phone div:hover p {
  color: black;
  transform: scale(1.15);
}
.live__phone div i {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.live__phone div p {
  font-size: 1.5rem;
  color: white;
  margin-top: 0.5em;
  transition: all 0.1s ease-in-out;
  transform: scale(1);
}

.phone__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.feature__phone {
  display: flex;
  flex-direction: column;
  clear: both;
  width: 85%;
  height: 33rem;
  border-radius: 2rem;
  border: 0.1rem solid black;
  align-items: flex-end;
  transition: all 0.5s ease-in-out;
  background-color: rgb(132, 132, 132);
  transform: translateY(0%);
}
.feature__phone:hover {
  transform: translateY(-3%);
}
.phone__up {
  width: 100%;
  height: 2rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem 2rem 0 0;
}
.phone__up .phone__up--cam {
  height: 50%;
  width: 1rem;
  background-color: #6C6D70;
  margin-right: 0.5em;
  border-radius: 50%;
}
.phone__up .phone__up--spk {
  height: 30%;
  width: 2rem;
  background-color: #6C6D70;
  margin-right: 0.5em;
  border-radius: 2rem;
}
.phone__up .phone__up--mic {
  height: 50%;
  width: 1rem;
  background-color: #6C6D70;
  border-radius: 50%;
}
.phone__middle {
  width: 100%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0rem solid black;
  border-left-width: 1rem;
  border-right-width: 1rem;
}
.phone__bottom {
  width: 100%;
  height: 3rem;
  background-color: black;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone__bottom .phone__button--key {
  width: 1.7rem;
  height: 1.7rem;
  background-color: #6C6D70;
  border: 0.1em solid white;
  border-radius: 50%;
}
.mobile__features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10rem 8rem;
  background-color: #fff;
}

.mobile__features p {
  color: var(--secondary-color);
  font-size: var(--font-size-sm);
  margin-bottom: 2rem;
}
.mobile__features p:first-child {
  transform: translateY(-5rem);
  font-size: var(--font-size-md);
}

.mobile__features h2 {
  font-size: var(--font-size-xl);
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

.mobile__feature--items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 5rem;
}

.mobile__feature--items i {
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--light-color);
}

.mobile__feature--items h4 {
  font-size: var(--font-size-sm);
  font-weight: 700;
  margin: 2rem 0;
}

#mobile-app .feature__ux-design {
  padding-right: 2.5rem;
  transition: 400ms ease-in-out;
}

.feature__ios {
  padding-left: 2.5rem;
  transition: 400ms ease-in-out;
}

#mobile-app .feature__ux-design:hover {
  color: #13b237;
  transform: translateY(-1rem);
}
.feature__ios:hover {
  color: #44d4d7;
  transform: translateY(-1rem);
}

i.box--design {
  background-color: #13b237;
  transition: all 0.4s ease-in-out;
}

i.box--apple {
  background-color: #44d4d7;
  transition: all 0.4s ease-in-out;
}

#mobile-app .feature__ux-design:hover i.box--design {
  background: transparent;
  color: #13b237;
  box-shadow: 0.1rem 0.1rem 1rem 0 #13b237;
}

#mobile-app .feature__ios:hover i.box--apple {
  background: transparent;
  color: #44d4d7;
  box-shadow: 0.1rem 0.1rem 1rem 0 #44d4d7;
}

/* ------------- animated-circle ------------- */
#mobile-app .animated-circle {
  width: min(8rem, 10vw);
  height: min(16rem, 20vw);
  border-radius: 8rem 0 0 8rem;
  background: #fac247;
  margin-left: auto;
  animation: rotaition 5000ms infinite linear;
  transform-origin: min(8rem, 10vw) min(8rem, 10vw);
}

@keyframes rotaition {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------- MEDIA QUERIES ----------------- */
@media only screen and (max-width: 992px) {
  .mobile__wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .mobile__wrapper {
    margin: 1rem 0;
  }

  .mobile__image {
    display: none;
  }

  .mobile__features {
    padding: 8rem 2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  #mobile-app .container {
    width: 100%;
    margin: auto;
  }
}
