#customize-offers h2 {
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--dark-color);
  margin-bottom: 10rem;
}
.custom__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  margin: 0 0 6em 0;
}
.custom__left {
  display: flex;
  justify-content: center;
}
.custom__banner {
  padding: 0.5em;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom__banner:hover:after {
  transform: translate(50%, 0%) rotate(540deg);
}
.custom__banner:hover:before {
  transform: translate(50%, 0%) rotate(-360deg);
}
.custom__banner::before , .custom__banner::after {
  display: table;
  content: "";
  position: absolute;
  border: 15em solid rgba(255, 255, 255, 0);
  border-right-color: orange;
  border-bottom-color: orange;
  border-radius: 2rem;
  bottom: 0.5rem;
  position: absolute;
  rotate: 0deg;
  transition: all 0.8s ease-in-out;
  z-index: 11;
  right: 50%;
  transform-origin: center;
  transform: translate(50%, 0%) rotate(0deg);
  border-radius: 50%;
}
.custom__banner::before {
  border-right-color: orangered;
  border-bottom-color: rgb(187, 30, 255);
}
.img__banner {
  -o-object-fit: contain;
     object-fit: contain;
  height: 40rem;
  transform: translateY(-3%);
}
.img__banner img {
  z-index: +15 !important;
}
.custom__bar1 {
  position: absolute;
  width: 15rem;
  height: 8rem;
  top: -2.5rem;
  right: 20%;
  transform: translate(80%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  border-radius: 2rem;
}
.custom__bar1::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: linear-gradient(to right, #d16ba5, #c86fb7, #ba74c8, #a77bd9, #8c83e7, #6e93f4, #49a2fc, #00afff, #00c4ff, #00d8ff, #07eafa, #5ffbf1);
  background-size: 400%;
  background-position: left;
  transition: all 0.5s ease-in-out;
  filter: blur(0.5rem);
  border-radius: 2rem;
}
.custom__bar1:hover:before {
  background-position: right;
}
.custom__bar1 img {
  padding: 0.3em;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 2rem;
  z-index: 13;
  width: 100%;
  height: 100%;
  border-radius: 2rem !important;
}
.custom__bar2 {
  position: absolute;
  width: 12rem;
  height: 12rem;
  top: -2.5rem;
  left: 20%;
  transform: translate(-20%, 0);
  background-color: #D8EBF2;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 20;
}
.custom__bar2::after {
  position: absolute;
  z-index: -1;
  width: 105%;
  height: 105%;
  content: "";
  display: table;
  clear: both;
  border-radius: 50%;
  background: #CC95C0;
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);
  background-size: 400%;
  background-position: left;
  transition: all 0.5s ease-in-out;
}
.custom__bar2:hover:after {
  background-position: right;
  rotate: 720deg;
}
.custom__bar2 img {
  width: 100%;
  height: 100%;
}
.custom__banner img {
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
  z-index: 100;
}
.custom__right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3rem 0;
  align-items: center;
  justify-content: space-evenly;
}
.custom__right__card {
  padding: 1.5rem 1rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0rem 1rem 1rem -0.5rem rgb(181, 181, 181);
}
.custom__card__title {
  line-height: 3.5rem;
  font-size: 2.7rem;
}
.custom__card__contex {
  margin: 0.8em 0;
  line-height: 2.5rem;
  font-size: 2rem;
  color: gray;
}
.crc1 {
  border-left: 0.3em solid #ff6c43;
  border-radius: 0.6em;
  padding-left: 2em;
  background-color: rgba(255, 255, 255, 0.8392156863);
}
.crc1:hover {
  background-color: rgb(255, 238, 221);
  box-shadow: 2rem 1rem 1rem -0.5rem rgb(181, 181, 181);
  transform: translateX(-3%);
}
.crc2 {
  border-left: 0.3em solid #5064ff;
  border-radius: 0.6em;
  padding-left: 2em;
  background-color: rgba(255, 255, 255, 0.8392156863);
}
.crc2:hover {
  background-color: rgb(225, 255, 254);
  box-shadow: -2rem 1rem 1rem -0.5rem rgb(181, 181, 181);
  transform: translateX(3%);
}
.crc3 {
  border-left: 0.3em solid #84ff71;
  border-radius: 0.6em;
  padding-left: 2em;
}
.crc3:hover {
  background-color: rgb(225, 255, 228);
  box-shadow: 2rem 1rem 1rem -0.5rem rgb(181, 181, 181);
  transform: translateX(-3%);
}