.process__wrapper {
  gap: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.process__wrapper .process__item:nth-child(1) {
  grid-area: title;
}
.process__wrapper .process__item:nth-child(2) {
  grid-area: content1;
}
.process__wrapper .process__item:nth-child(3) {
  grid-area: content2;
}
.process__wrapper .process__item:nth-child(4) {
  grid-area: content3;
}

.process__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.process__item h2 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 700;
  line-height: clamp(2.5rem, 5vw, 4rem);
  margin-bottom: 1.5rem;
  color: var(--dark-color);
}

.process__item p {
  font-size: 1.7rem;
  opacity: 0.9;
  color: var(--secondary-color);
}

.process__item--box {
  height: calc(22rem + 5vh);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  transition: all 0.4s ease-in-out;
  text-align: center;
  background-color: #f4f4ff;
  box-shadow: 0.1rem 0.1rem 1rem 0 rgb(0 0 0 / 10%);
}

.process__item--box i {
  font-size: 3.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  color: var(--light-color);
  transition: all 0.4s ease-in-out;
  border: 1px solid;
}

.process__item--box h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
}

.process__item--box p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
}

i.box--daily {
  background-color: #f39c12;
}
.process__item .process__item--box:hover i.box--daily {
  color: #f39c12;
  background: snow;
  box-shadow: 0.1rem 0.1rem 1rem 0 #ddba83;
}

i.box--shield {
  background-color: #2980b9;
}
.process__item .process__item--box:hover i.box--shield {
  color: #2980b9;
  background: snow;
  box-shadow: 0.1rem 0.1rem 1rem 0 #93c4e5;
}

i.box--testing {
  background-color: #e74c3c;
}
.process__item .process__item--box:hover i.box--testing {
  color: #e74c3c;
  background: snow;
  box-shadow: 0.1rem 0.1rem 1rem 0 #f3b7b1;
}

.process__item .process__item--box:hover {
  transform: translateY(-1rem);
  background-color: #f4f4ff;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .process__wrapper .process__item:nth-child(1) {
    text-align: center;
  }
  .process__wrapper {
    display: grid;
    grid-template-areas:
      "title title title"
      "content1 content2 content3";
  }
  .process__item {
    align-items: center;
  }
}
@media screen and (max-width: 1100px) {
  #our-process .container {
    padding: 5rem;
  }
  .process__wrapper {
    gap: 3rem;
  }
}
@media screen and (max-width: 950px) {
  .process__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    gap: 5rem;
  }
  .process__item {
    align-items: initial;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  #our-process .process__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .process__wrapper {
    flex-wrap: wrap;
  }
  .process__item {
    margin: 5% 0;
    align-items: initial;
    text-align: center;
  }
  .process__item--box i {
    padding: 1rem;
    font-size: 3rem;
  }
}
